// Blog specific styles
article.overlap-header {
    margin-top: -$overflow-small;
}

$blog-width: 810px;

.blog-subset {
    width: $blog-width;
    margin-left: 0;
}

article {
    background: $secondary-background;
    width: calc(50% - 640px + #{$blog-width});
    min-width: calc(10% + #{$blog-width});
    .time {
        color: $primary-background;
    }
    .blog-subset {
        margin: 0 0 0 auto;
        color: $white;

        h2 {
            color: $white;
        }
    }
    .post {
        padding: 40px 0;
        margin-bottom: 50px;
    }
}

.comments {
    color: $black;
    .time {
        color: $primary-color;
    }
    h2 {
        color: $black;
    }
    li {
        display: flex;
        align-items: flex-start;
        .img-container {
            flex-shrink: 0;
            width: 90px;
            height: 90px;
        }
    }
}