.contact-form {
    width: 100%;
    max-width: $blog-width;
    margin-left: 0;
    background: $secondary-background;
    margin: -$overflow-small -30px 120px -30px;
    padding: 30px;
    input, textarea {
        color: $white;
    }
    flex-shrink: 0;
}

address {
    font-style: normal;
    // width: 100%;
    width: calc(100% - #{$blog-width + 200px});
    max-width: 300px;
    margin-top: 90px;
    i {
        color: $primary-color;
        @include font-size(25);
        margin-right: 20px;
    }
    div {
        margin-bottom: 20px;
    }
}

.contact-flex {
    display: flex;
    justify-content: space-between;
}