// base fonts
html {
    // I prefer doing math with 10s to 20s...
    font-size: 62.5%;
}

// font-family: 'Lato', sans-serif;
// font-family: 'Pacifico', cursive;

body {
    font-family: 'Lato', sans-serif;
    background: $primaryBackground;

    @include font-size(20);
}

nav {
    font-weight: bold;
}

h1,h2,h3,.button,button {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

// stripping styles
h1,
h2,
h3,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// wrapper
.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}