// base fonts
html {
    // I prefer doing math with 10s to 20s...
    font-size: 62.5%;
}

// stripping styles
h1,
h2,
h3,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// wrapper
.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.bleed-left-wrapper, .bleed-right-wrapper {
    width: 90%;
    max-width: calc(1280px + 10%);
}


// .partial-wrapper {
//     max-width: 810px;
//     width: 100%;
//     margin: 0 auto 0 0;
// }

// .blog-wrapper {
//     max-width: 810px;
//     // ????
// }

// half-wrapper
.bleed-right-wrapper {
    margin: 0 0 0 auto;
}

.bleed-left-wrapper {
    margin: 0 auto 0 0;
}

// font-family: 'Lato', sans-serif;
// font-family: 'Pacifico', cursive;

body {
    font-family: 'Lato', sans-serif;
    background: $primary-background;

    color: $black-two;

    @include font-size(20);
    @include line-height(28);
    @include letter-spacing(2);
}

nav {
    font-weight: bold;
    @include line-height(29);
    @include letter-spacing(1.4);
    text-transform: uppercase;
}

h1,h2,h3 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    color: $primary-color;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.bleed-left img {
    object-position:left;
}

.left-shadow {
    box-shadow: -$shadow-size $shadow-size $secondary-color;
}

.right-shadow {
    box-shadow: $shadow-size $shadow-size $secondary-color;
}

.flex-row, .flex-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

// buttons, and things that resemble buttons without actually being buttons
.dark-button, .light-button, button {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    @include font-size(27);
    @include line-height(32);
    @include letter-spacing(1.4);
    border: none;
    padding: 10px 40px;
    display: block;
    text-transform: lowercase;
}

.dark-button {
    background: $primary-color;
    color: $white;
}

.light-button {
    background: $light-button-color;
    color: $black;
}