$hamburger-thickness: 3px;
$hamburger-spacing: 6px;
$hamburger-width: 20px;

.hamburger-container {
    position: fixed;
    z-index: 20;
    padding: (2*$hamburger-thickness + 2*$hamburger-spacing);
    top: 20px - $hamburger-thickness - $hamburger-spacing;
    right: 20px - $hamburger-thickness - $hamburger-spacing;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0 1px $black);
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: none;
    height: $hamburger-thickness;
    width: 20px;
    border-radius: $hamburger-thickness;
    background: $white;
    z-index: 10;
    transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    right:0;
}

.hamburger {
    position: relative;
}

.hamburger::before {
    top: -$hamburger-spacing;
}

.hamburger::after {
    top: $hamburger-spacing;
}

.hamburger-container:hover .hamburger {
    transform: rotate(45deg);
}

.hamburger-container:hover .hamburger::before,
.hamburger-container:hover .hamburger::after {
    transform: rotate(-90deg);
    top: 0;
    right: 0;
}