$hamburger-thickness: 3px;
$hamburger-spacing: 8px;
$hamburger-width: 25px;
$hamburger-position: 20px;

// Hamburger toggle starts hidden
.hamburger-toggle {
    display: none;
}

// This holds the hamburger and is what actually gets clicked
.hamburger-container {
    position: fixed;
    z-index: 20;
    width: $hamburger-width;
    height: 3*$hamburger-thickness + 2*$hamburger-spacing;
    top: $hamburger-position;
    right: $hamburger-position;
    display: flex;
    align-items: center;
    justify-content: center;
    // Add an outline
    filter: drop-shadow(0 0 1px $black);
}

// Shape of the hamburger layers
.hamburger,
.hamburger::before,
.hamburger::after {
    display: none;
    height: $hamburger-thickness;
    width: $hamburger-width;
    border-radius: $hamburger-thickness;
    background: $white;
    z-index: 10;
    transition: 0.3s;
}

// top and bottom layer positioned relative to the meat.
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    right:0;
}

// The meat! Is! Relative!
.hamburger {
    position: relative;
}

.hamburger::before {
    top: -$hamburger-spacing;
}

.hamburger::after {
    top: $hamburger-spacing;
}

// Rotate the meat!
.hamburger-toggle:checked ~ .hamburger-container .hamburger,
.hamburger-label:focus-within .hamburger {
    transform: rotate(45deg);
}

// Anti-rotate the bun!
.hamburger-toggle:checked ~ .hamburger-container .hamburger::before,
.hamburger-toggle:checked ~ .hamburger-container .hamburger::after,
.hamburger-label:focus-within .hamburger::before,
.hamburger-label:focus-within .hamburger::after {
    transform: rotate(-90deg);
    top: 0;
    right: 0;
}

@media (max-width: 800px) {
    // apply hamburger menu styles
    .top-bar nav {
        position: fixed;
        right: 0;

        transform: translate(100%);
        top: 0;
        padding: 40px 0;
        background: $secondary-background;
        border: 4px solid $secondary-color;
        z-index: 5;
        transition: 0.3s;
        ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li a, li:last-of-type a {
                display: block;
                color: $white;
                padding: 5px 30px;
            }
        }
    }

    .hamburger-toggle:checked ~ nav,
    .hamburger-label:focus-within nav {
        transform: translateX(0);
    }

    .hamburger, .hamburger::after, .hamburger::before {
        display: block;
    }
}