
.home-header {
    background: url(../assets/header-home.jpg);
}

.blog-header {
    background: url(../assets/blog-header.jpg);
}

.contact-header {
    background: url(../assets/contact-header.jpg);
}

header {
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul a {
    padding: 5px 10px;
    color: $black;
}