@media (max-width: 1200px) {
    aside.blog-sidebar {
        position: static;
        width: 100%;
        max-width: 810px;
        margin: 0 auto 60px 0;
        .aside-contents {
            padding: 20px;
        }
    }
    .double-shadow-dark {
        box-shadow: $shadow-size $shadow-size $secondary-color;
    }

    .contact-flex {
        flex-direction: column;
        address {
            display: flex;
            max-width: 100%;
            width: auto;
            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}
@media (max-width:1050px) {
    .home-header, .contact-header, .blog-header {
        height: auto;
        min-height: auto;
        padding-bottom: 80px;//calc(#{$overflow-small} + 60px);
        h1 {
            width: auto;
            margin: 40px 0;
            @include font-size(40);
            @include line-height(50);
        }
    }
    .overflow-header.img-container, article.overlap-header, section.contact-form {
        margin-top: -60px;
    }
    
    .overflow-header.img-container, .blog-subset {
        width: auto;
    }

    article {
        width: 90%;
        min-width: auto;
        .post {
            padding-left: calc(10% * 10 / 9);
        }
    }

    .links,
    section.techniques, 
    .links-two,
    .search,
    article .post,
    section.comments {
        h2 {
            @include font-size(35);
            @include line-height(40);
        }
    }
}

@media (max-width: 800px) {
    .top-bar nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
    section.techniques {
        padding-top: 20px;
        .content {
            width: auto;
            padding-right: 0;
        }
        .img-container {
            width: 100%;
            margin-top: 40px;
        }
    
        .flex-row {
            flex-direction: column;
        }
    }

    .gallery {
        .flex-row {
            flex-direction: column;
            .img-container {
                width: 100%;
                margin: 40px 0;
            }
        }
    }

    .wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .links-two {
        .flex-row {
            flex-direction: column;
        }

        .bleed-left-wrapper, .bleed-right-wrapper {
            // width: 80%;
            width: 100%;
            padding: 0 20px;
            margin: 0 auto;
        }

        .img-container {
            margin: 0;
            width: 100%;
        }

        .second-row .img-container {
            margin: 0;
        }

        .left-content, .right-content {
            width: 100%;
            padding: 60px 0;
        }
    }

    .links {
        ul {
            flex-direction: column;
            li {
                width: auto;
            }
        }
    }

    article {
        width: 100%;
        .post {
            padding: 40px 20px;
        }
    }

    .blog-subset p {
        padding-right: 0;
    }

    form input[type="text"],
    form input[type="email"] {
        width: 100%;
        margin-right: 0;
    }

    .comments ul li {
        flex-direction:column;
    }

    .contact-form {
        margin: 60px 0;
    }
}

@media (max-width: 500px) {
    .links ul li {
        flex-direction: column;
        align-items: center;
        text-align: center;
        .icon-holder {
            margin: 10px 0;
        }
    }
    footer {
        @include font-size(16);
    }
}