// common styles for sections

section {
    padding: 100px 0;
}

.gallery, .links-two {
    background: $secondary-background;
    color: $white;
}

.techniques h2, .links h2, .search h2 {
    @include font-size(43);
    @include line-height(58);
    @include letter-spacing(2.7);
}

.links-two h2 {
    @include font-size(40);
    @include line-height(58);
    @include letter-spacing(2.5);
}

