// colors
$black: #1E1713;
$black-two: #161515;

$white: #FFFFFF;

$primary-color: #1A315C;
$secondary-color: #0CADC0;
$primary-background: #CCEDFB;

$secondary-background: #21404f;

// design sizes
$shadow-size: 20px; // size of box shadows
$overflow-amount: 50vh; // how much things overflow into the header