@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.bleed-left-wrapper, .bleed-right-wrapper {
  width: 90%;
  max-width: calc(640px + 50%);
}

.bleed-right-wrapper {
  margin: 0 0 0 auto;
}

.bleed-left-wrapper {
  margin: 0 auto 0 0;
}

body {
  font-family: "Lato", sans-serif;
  background: #CCEDFB;
  color: #161515;
}

body, input, textarea {
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  letter-spacing: 2px;
  letter-spacing: 0.2rem;
}

nav {
  font-weight: bold;
  line-height: 29px;
  line-height: 2.9rem;
  letter-spacing: 1.4px;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: "Pacifico", cursive;
  font-weight: normal;
  color: #1A315C;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.bleed-left img {
  object-position: left;
}

.left-shadow {
  box-shadow: -20px 20px #0CADC0;
}

.left-shadow-offset {
  box-shadow: -28px 28px 0 -8px #0CADC0;
}

.right-shadow {
  box-shadow: 20px 20px #0CADC0;
}

.right-shadow-offset {
  box-shadow: 28px 28px 0 -8px #0CADC0;
}

.double-shadow {
  box-shadow: 28px 28px 0 -8px #0CADC0, -28px 28px 0 -8px #0CADC0;
}

.double-shadow-dark {
  box-shadow: 18px 18px 0 2px #21404f, -18px 18px 0 2px #21404f;
}

.flex-row, .flex-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.dark-button, .light-button, button {
  font-family: "Pacifico", cursive;
  font-weight: normal;
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 32px;
  line-height: 3.2rem;
  letter-spacing: 1.4px;
  letter-spacing: 0.14rem;
  border: 3px solid transparent;
  padding: 7px 37px;
  display: block;
  text-transform: lowercase;
  transition: 0.3s;
}

.dark-button {
  background: #1A315C;
  color: #FFFFFF;
}

.light-button {
  background: #c6d9fb;
  color: #1E1713;
}

main {
  position: relative;
}

.skip-button {
  position: absolute;
  display: block;
  width: 20rem;
  top: 1rem;
  left: calc(50% - 10rem);
  margin: 0 auto;
  background: #1A315C;
  color: #FFFFFF;
  text-align: center;
  padding: 1rem;
  z-index: 30;
  border: 4px solid #FFFFFF;
  box-shadow: 0 0 2px #1E1713;
}

.home-header {
  background-image: url(../assets/header-home.jpg);
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
}

.contact-header {
  background-image: url(../assets/contact-header.jpg);
}

header, .banner {
  background-attachment: fixed;
  background-size: cover;
}

header {
  padding-top: 30px;
  height: 90vh;
  min-height: calc(250px + 50vh);
  padding-bottom: 50vh;
}
header .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul a {
  padding: 5px 30px;
  color: #161515;
}
header nav ul li:last-of-type a {
  padding-right: 0;
}

.blog-header, .contact-header {
  height: 400px;
  padding-bottom: 100px;
  min-height: calc(250px + 100px);
}

.logo {
  font-size: 30px;
  font-size: 3rem;
  line-height: 24px;
  line-height: 2.4rem;
  letter-spacing: 1.7px;
  letter-spacing: 0.17rem;
  color: #1E1713;
}

h1 {
  margin: auto 0;
  width: 50%;
}

.home-header h1 {
  font-size: 58px;
  font-size: 5.8rem;
  line-height: 68px;
  line-height: 6.8rem;
}

.blog-header h1, .contact-header h1 {
  font-size: 68px;
  font-size: 6.8rem;
  line-height: 64px;
  line-height: 6.4rem;
}

.overflow-header.img-container {
  margin-top: -50vh;
  width: 60%;
}

section {
  padding: 100px 0;
}

.gallery, .links-two {
  background: #21404f;
  color: #FFFFFF;
}

.techniques h2, .links h2, .search h2 {
  font-size: 43px;
  font-size: 4.3rem;
  line-height: 58px;
  line-height: 5.8rem;
  letter-spacing: 2.7px;
  letter-spacing: 0.27rem;
}

.links-two h2, .post h2 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 58px;
  line-height: 5.8rem;
  letter-spacing: 2.5px;
  letter-spacing: 0.25rem;
}

.comments h2 {
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 4.3px;
  letter-spacing: 0.43rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}
form input[type=text],
form input[type=email] {
  border: none;
  border-bottom: 2px solid #0CADC0;
  background: inherit;
  width: calc(50% - 25px);
  padding: 25px 40px;
}
form input[type=text] {
  margin-right: 50px;
}
form textarea, form button {
  width: 100%;
}
form textarea {
  border: 2px solid #0CADC0;
  background: inherit;
  resize: vertical;
  padding: 40px;
}
form input, form textarea {
  margin-bottom: 40px;
}

.techniques .content {
  width: 75%;
  padding-right: 10%;
  align-items: flex-start;
}
.techniques .content p {
  margin: 20px 0;
}
.techniques .img-container {
  width: 25%;
}

.gallery ul .img-container {
  width: calc((100% - 80px) / 3);
  margin: 0 40px 0 0;
}
.gallery ul .img-container:last-of-type {
  margin-right: 0;
}

.links {
  padding-bottom: 70px;
}
.links ul {
  justify-content: space-between;
  align-items: flex-start;
}
.links li {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.links li .icon-holder {
  background: #0CADC0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.links li i {
  color: #FFFFFF;
  font-size: 30px;
  font-size: 3rem;
}
.links li p {
  margin-top: 20px;
}

.links-two {
  padding: 0;
}
.links-two .flex-row {
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.links-two h2 {
  color: #FFFFFF;
}
.links-two .left-content {
  align-items: flex-end;
  padding-bottom: 40px;
}
.links-two .right-content {
  padding-top: 40px;
  align-items: flex-start;
}
.links-two .img-container {
  width: calc(50vw - 80px);
  height: auto;
}
.links-two .left-content, .links-two .right-content {
  width: calc(100% - 50vw - 80px);
}
.links-two .bleed-right-wrapper,
.links-two .bleed-left-wrapper {
  height: 100%;
}
.links-two img {
  object-fit: cover;
}
.links-two .first-row .img-container {
  margin-top: -40px;
}
.links-two .second-row {
  flex-direction: row-reverse;
  margin-top: 80px;
}
.links-two .second-row .img-container {
  margin-bottom: -40px;
}
.links-two .bleed-right {
  order: 1;
  align-self: flex-end;
}
.links-two .flex-column {
  height: 100%;
}
.links-two .right-half-wrapper {
  align-items: flex-start;
}
.links-two .left-half-wrapper {
  align-items: flex-end;
}
.links-two p {
  margin-top: 20px;
}

.banner {
  background-image: url(../assets/banner.jpg);
  height: 60vh;
}

.search p {
  margin: 10px 0 60px 0;
}
.search h2 {
  text-align: center;
}

article.overlap-header {
  margin-top: -100px;
}

.blog-subset {
  width: 810px;
  margin-left: 0;
}
.blog-subset p {
  padding-right: 60px;
}

article {
  background: #21404f;
  width: calc(50% - 640px + 810px);
  min-width: calc(10% + 810px);
}
article .time {
  color: #CCEDFB;
}
article .blog-subset {
  margin: 0 0 0 auto;
  color: #FFFFFF;
}
article .blog-subset h2 {
  color: #FFFFFF;
}
article .post {
  padding: 80px 0;
  margin-bottom: 50px;
}
article .post p {
  margin: 30px 0;
}
article .post p.time {
  margin-top: 10px;
}

.blog-sidebar {
  position: absolute;
  right: 0;
  top: 300px;
  width: calc(90% - 850px);
  max-width: 350px;
  background: #21404f;
  color: #FFFFFF;
}
.blog-sidebar h2, .blog-sidebar h3 {
  font-size: 35px;
  font-size: 3.5rem;
  letter-spacing: 2.9px;
  letter-spacing: 0.29rem;
  color: #FFFFFF;
  margin-top: 30px;
}
.blog-sidebar h3 {
  margin-top: 60px;
}
.blog-sidebar p {
  margin-top: 10px;
}
.blog-sidebar ul {
  margin-top: 10px;
  padding-left: 40px;
}
.blog-sidebar ul li {
  list-style: disc;
}

.comments {
  color: #1E1713;
  padding-top: 40px;
}
.comments .time {
  color: #1A315C;
}
.comments h2 {
  color: #1E1713;
}
.comments ul {
  margin: 60px 0;
}
.comments ul li {
  display: flex;
  align-items: flex-start;
  margin: 120px 0;
}
.comments ul li .img-container {
  flex-shrink: 0;
  width: 90px;
  height: 90px;
  margin-right: 40px;
}
.comments ul li p {
  margin-bottom: 10px;
}
.comments ul li:first-of-type {
  margin-top: 0;
}
.comments ul li:last-of-type {
  margin-bottom: 0;
}

.contact-form {
  width: 100%;
  max-width: 810px;
  margin-left: 0;
  background: #21404f;
  margin: -100px -30px 120px -30px;
  padding: 30px;
  flex-shrink: 0;
}
.contact-form input, .contact-form textarea {
  color: #FFFFFF;
}

address {
  font-style: normal;
  max-width: calc(100% - 810px);
  align-self: center;
}
address i {
  color: #1A315C;
  font-size: 25px;
  font-size: 2.5rem;
  margin-right: 20px;
}
address div {
  margin-bottom: 20px;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  background: #1E1713;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0 5px 0;
  margin-top: auto;
}

a span {
  position: relative;
}
a span::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -4px;
  left: 50%;
  background: #0CADC0;
  transition: 0.3s;
}

a:hover span::before,
a:focus span::before,
a.pre-selected span::before {
  width: 100%;
  left: 0;
}

.img-container a img {
  transition: transform 0.3s;
}

.img-container a:hover img,
.img-container a:focus img {
  transform: scale(1.05);
}

.dark-button:hover,
.dark-button:focus {
  border-color: #FFFFFF;
  background: #305bac;
}

.light-button:hover,
.light-button:focus {
  border-color: #FFFFFF;
  background: #6799f4;
}

input[type=text], input[type=email], textarea {
  transition: border 0.3s;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border-color: #3fe0f3;
}

a i {
  transition: 0.3s;
}

a:hover i,
a:focus i {
  color: #305bac;
  transform: scale(1.1);
}

.hamburger-toggle {
  display: none;
}

.hamburger-container {
  position: fixed;
  z-index: 20;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 1px #1E1713);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: none;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #FFFFFF;
  z-index: 10;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  right: 0;
}

.hamburger {
  position: relative;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

.hamburger-toggle:checked ~ .hamburger-container .hamburger,
.hamburger-label:focus-within .hamburger {
  transform: rotate(45deg);
}

.hamburger-toggle:checked ~ .hamburger-container .hamburger::before,
.hamburger-toggle:checked ~ .hamburger-container .hamburger::after,
.hamburger-label:focus-within .hamburger::before,
.hamburger-label:focus-within .hamburger::after {
  transform: rotate(-90deg);
  top: 0;
  right: 0;
}

@media (max-width: 800px) {
  .top-bar nav {
    position: fixed;
    right: 0;
    transform: translate(100%);
    top: 0;
    padding: 40px 0;
    background: #21404f;
    border: 4px solid #0CADC0;
    z-index: 5;
    transition: 0.3s;
  }
  .top-bar nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top-bar nav ul li a, .top-bar nav ul li:last-of-type a {
    display: block;
    color: #FFFFFF;
    padding: 5px 30px;
  }

  .hamburger-toggle:checked ~ nav,
.hamburger-label:focus-within nav {
    transform: translateX(0);
  }

  .hamburger, .hamburger::after, .hamburger::before {
    display: block;
  }
}
@media (max-width: 1200px) {
  aside.blog-sidebar {
    position: static;
    width: 100%;
    max-width: 810px;
    margin: 0 auto 60px 0;
  }
  aside.blog-sidebar .aside-contents {
    padding: 20px;
  }

  .double-shadow-dark {
    box-shadow: 20px 20px #0CADC0;
  }

  .contact-flex {
    flex-direction: column;
  }
  .contact-flex address {
    display: flex;
    max-width: 100%;
    width: auto;
  }
  .contact-flex address div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 1050px) {
  .home-header, .contact-header, .blog-header {
    height: auto;
    min-height: auto;
    padding-bottom: 80px;
  }
  .home-header h1, .contact-header h1, .blog-header h1 {
    width: auto;
    margin: 40px 0;
    font-size: 40px;
    font-size: 4rem;
    line-height: 50px;
    line-height: 5rem;
  }

  .overflow-header.img-container, article.overlap-header, section.contact-form {
    margin-top: -60px;
  }

  .overflow-header.img-container, .blog-subset {
    width: auto;
  }

  article {
    width: 90%;
    min-width: auto;
  }
  article .post {
    padding-left: calc(10% * 10 / 9);
  }

  .links h2,
section.techniques h2,
.links-two h2,
.search h2,
article .post h2,
section.comments h2 {
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 40px;
    line-height: 4rem;
  }
}
@media (max-width: 800px) {
  section.techniques {
    padding-top: 20px;
  }
  section.techniques .content {
    width: auto;
    padding-right: 0;
  }
  section.techniques .img-container {
    width: 100%;
    margin-top: 40px;
  }
  section.techniques .flex-row {
    flex-direction: column;
  }

  .gallery .flex-row {
    flex-direction: column;
  }
  .gallery .flex-row .img-container {
    width: 100%;
    margin: 40px 0;
  }

  .wrapper {
    width: 100%;
    padding: 0 20px;
  }

  .links-two .flex-row {
    flex-direction: column;
  }
  .links-two .bleed-left-wrapper, .links-two .bleed-right-wrapper {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .links-two .img-container {
    margin: 0;
    width: 100%;
  }
  .links-two .second-row .img-container {
    margin: 0;
  }
  .links-two .left-content, .links-two .right-content {
    width: 100%;
    padding: 60px 0;
  }

  .links ul {
    flex-direction: column;
  }
  .links ul li {
    width: auto;
  }

  article {
    width: 100%;
  }
  article .post {
    padding: 40px 20px;
  }

  .blog-subset p {
    padding-right: 0;
  }

  form input[type=text],
form input[type=email] {
    width: 100%;
    margin-right: 0;
  }

  .comments ul li {
    flex-direction: column;
  }

  .contact-form {
    margin: 60px 0;
  }
}
@media (max-width: 500px) {
  .links ul li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .links ul li .icon-holder {
    margin: 10px 0;
  }

  footer {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
